li.page-item
  / = link_to_unless current_page.last?, t('views.pagination.last'), url, remote:, class: 'page-link'
  = link_to t('views.pagination.last'), url, remote:, class: "page-link #{'disabled' if current_page.last?}"
